@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Jua&display=swap');
/* Inter, Jua, Itim */

body,
html {
    font-family: 'itim', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: ease-in-out 0.5s;
}

button{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.game_over{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8E8EF;
    border: 2px solid #b2afc0;
    border-radius: 10px;
    padding: 2rem;
    position: fixed;
}

.game_over_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343434; 
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game_over_correct_word {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343434; 
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 0.5rem;
}

.game_over_correct_word .correct_word {
    color: #000000;
    font-weight: 700;
    background-color: #7665E2;
    padding: 0.2rem 0.5rem;
}

.game_over_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.again {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    background: #7665E2;
    border: none;
    border-radius: 0.625rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.again:hover {
    scale: 1.1;
    color: #FFF;
    background: #4a39b5;
}   

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #7866E5 0%, #332C5E 101.42%);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background: #363636;
    padding: 4rem 3rem;
}

.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.hangman-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    border: 2px dotted black;
    width: 100%;
    height: auto;
}

.word {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Jua;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    padding-top: 4.7rem;
}

.game_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}

.word_display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Jua;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    list-style: none;
    gap: 1rem;
}

.word_display .letter {
    margin-top: 3rem;
    width: 4rem;
    border-bottom: #000 3px solid;
    text-align: center;
    text-transform: uppercase;
}

.word_display .letter.correct {
    border-color: transparent;
    margin: 0;
}


.incorrect_guess {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.counter {
    padding-left: 0.5rem;
    color: #F00;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.alphabet-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2rem;
    gap: 1.25rem;
    width: 50rem;
}

.alphabet-container button {
    width: 3.75rem;
    height: 5rem;
    flex-shrink: 0;
    color: #000;
    border-radius: 0.625rem;
    background: #7665E2;
    font-family: Itim;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.10938rem;
    border: none;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    text-transform: capitalize;
}

.alphabet-container button:hover {
    scale: 1.1; 
    background: #4a39b5;
    color: #FFF;
}