@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Jua&display=swap');
/* Inter, Jua, Itim */

body,
html {
    font-family: 'itim', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #7866E5 0%, #332C5E 101.42%);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background: #363636;
    padding: 4rem 3rem;
}

.hangman {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.hangman-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    border: 2px dotted black;
    width: 100%;
    height: auto;
}

.word {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Jua;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    padding-top: 4.7rem;
}

.game_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}

.word_display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Jua;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
}

.incorrect_guess {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09375rem;
}

.counter {
    padding-left: 0.5rem;
    color: #F00;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.09375rem;
}